@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  /* background-color: #eec0c6; */
  /* background-color: #fbc2eb; */

  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  height: 80rem;
}
.main-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 33rem;
  padding: 2rem;
  background: linear-gradient(
    to bottom right,
    #eecda3,
    #ef629f,
    #c964db,
    #eecda3
  );
  /* background: linear-gradient(
    to bottom right,
    #ddd6f3,
    #faaca8,
    #faaca8,
    #ddd6f3
  ); */

  box-shadow: 1rem -2px 1.4rem #ddd6f3;
  /* display: fl; */
}
#welcome {
  position: relative;
  text-align: center;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  font-weight: bolder;
}
#welcome > p {
  margin: 0;
  font-size: 1.3rem;
  color: #4568dc;
  text-transform: lowercase;
  font-style: italic;
  position: absolute;
  left: 4.4rem;
}
.previous-button {
  cursor: pointer;
  display: flex;
  margin: 0;
  background: #000;
  padding: 1rem;
  width: 12px;
  /* transition: all; */
  text-align: center;
  clip-path: circle();
  position: relative;
  /* transform: translateX(1px, 2px); */
}

.play-button {
  cursor: pointer;
  /* padding: 1.3rem; */
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1.3rem;
  padding-bottom: 1rem;
  width: 12px;
  background-color: #000;
  clip-path: circle();
}
.next-button {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0;
  text-align: center;
  padding: 0.8rem;
  width: 12px;
  gap: 0;
  padding-right: 1.3rem;
  background-color: #000;
  clip-path: circle();
}
.triangle-shape {
  margin: 0;
  background-color: #9654ec;
  padding: 0.7rem;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0 100%);
}
.vertical-line-prev {
  background-color: #fff;
  /* padding: 0.3rem; */
  /* position: absolute; */

  margin-left: -5px;
  width: 0.5rem;
  padding: 0.4rem;
  height: 0.6rem;
  clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
}
.vertical-line-next {
  background-color: rgb(223, 194, 194);
  /* padding: 0.3rem; */
  /* position: absolute; */

  /* margin-left: 0px; */
  width: 0.3rem;
  padding: 0.4rem;
  height: 0.6rem;
  clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
}
.triangle-shape-opp {
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
  background-color: #9654ec;
  position: absolute;
  top: 26%;
  left: 30%;
  padding: 0.46rem;
  height: 0.4rem;
  width: 0.4rem;
  margin: 0;
}

/* controls list  */
.controls-list {
  padding-left: 4rem;
  background: linear-gradient(
    to bottom right,
    #4568dc,
    #b06ab3,
    #b06ab3,
    #ddd6f3
  );
  display: flex;
  gap: 2rem;
  border-radius: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.slider {
  /* padding: 1rem; */

  appearance: none;
  width: 100%;
  height: 0.2rem;
  margin: 0;
  border-radius: 2rem;
  background-color: rgb(195, 199, 223);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c55f0c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2415a8;
  cursor: pointer;
}

.play-line {
  margin-top: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  gap: 0.2rem;
  border-radius: 2rem;
  background: linear-gradient(
    to top right,
    rgba(174, 94, 206, 0.9),
    rgba(34, 42, 107, 0.7),
    rgb(23, 138, 204)
  );
}
h3 {
  font-size: 2rem;
  color: #e7eaeb;
  text-transform: uppercase;
  text-decoration: dashed;
}
.now-playing {
  text-transform: uppercase;
}
.song-details {
  font-family: "Cookie", cursive;
  text-align: center;
}
.song-info {
  color: #33434d;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
}

.pause-button {
  background-color: #000;
  clip-path: circle();
  display: flex;
  width: 20px;
  flex-direction: row;
  cursor: pointer;

  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 2.3rem;
  position: relative;
  /* padding: 1rem; */
  text-align: center;
  color: white;
  padding-left: 2.2rem;
}
.pause-vertical-1 {
  background-color: #fff;
  position: absolute;
  left: 30px;
  width: 1rem;
  padding: 0.5rem;
  height: 7px;
  clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
}
.pause-vertical-2 {
  background-color: #fff;
  position: absolute;
  left: 40px;
  width: 1rem;
  padding: 0.5rem;
  height: 7px;
  clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
}
.volume-slider {
  margin-top: 1rem;
  cursor: pointer;
  width: 5rem;
  height: 1.3rem;
  justify-content: center;
  text-align: center;
  gap: 0.2rem;
  border-radius: 2rem;

  padding-left: 0.3rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background: linear-gradient(
    to top right,
    rgba(174, 94, 206, 0.9),
    rgba(34, 42, 107, 0.7),
    rgb(23, 138, 204)
  );
}
.volume-container {
  margin-top: 1rem;
  display: flex;
  /* background: linear-gradient(
    to top right,
    rgba(144, 219, 238, 0.9),
    rgba(85, 82, 92, 0.7),
    rgb(171, 199, 216)
  ); */
  gap: 1rem;
}
.volume {
  color: rgb(40, 85, 233);
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 0.9rem;
}

footer {
  margin-top: 4rem;
  margin-bottom: 15rem;
  padding-bottom: 3rem;
  font-family: cursive;
  color: #4568dc;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  font-style: italic;
}
